body{
  margin: 30%;
  background-image: url("https://t4.ftcdn.net/jpg/04/08/19/89/360_F_408198989_aEtyqdo94lkdefK21Fz1uvArsceUmiTC.jpg");
}

.header{
  border-bottom: 1px solid;
}

.header p{
  text-align: center;
}

.header h2{
  font-size: 80%;
  text-align: right;
  margin-top: -6.5%
}
.education{
  font-size: 14px;
  border-bottom: 1px solid;
  margin-bottom: 5%;
}

.education h2{
  text-transform: uppercase;
  text-align: center;
}

.education p{
  float: right;
  margin-top: -4.3%;
  font-weight: bold;
}

.experience h3{
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

.experience p{
  float: right;
  margin-top: -5%;
  font-weight: bold;
  font-size: 90%
}

.experience h4{
  margin-top: -4%
}

.experience ul{
  margin-top: -1%;
}

.hshc p{
   float: right;
  margin-top: -4.25%;
  font-weight: bold;
  font-size: 85%
}

.hshc ul{
  margin-top: -1%;
  margin-bottom: 10%
}

h5{
  font-style: italic;
  margin-left: 2%;
  margin-top: -2%
}

.hshc h6{
  text-align: right;
  margin-top: -5%;
  font-size: 90%;
}
